# Copyright 2020 Pants project contributors.
# Licensed under the Apache License, Version 2.0 (see LICENSE).


# System files
.DS_Store

# Pants workspace files
/.pants.d/
/dist
/.pids
/.pants.workdir.file_lock*

# Python files
__pycache__/
*.pyc
.venv/

# Editors
.vscode/
.idea/
*.iml
*.code-workspace

# yoyo-migrations config
yoyo.ini
yoyo_migrations.ini
yoyo_grants.ini

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Flask stuff:
instance/
.webassets-cache


lib/
mlruns/
*.db